body {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.css */

body.dark-theme {
  background-color: #1E1E1E;
  /* Dark background color */
  color: white;
  /* Light text color */
  font-family: 'Space Mono', monospace;
}

/* .subtxt {
  font-weight: bold;
} */


#home {
  height: 100vh;
}

#about {
  height: 100vh;
}

#myworks {
  height: 150vh;
}

#contact {
  height: 100vh;
}

#profile-img {
  width: 35%;
}

#tool-img {
  width: 13%;
}

#projects-img {
  opacity: 0.4;
  transition-timing-function: ease-in;
  transition: 1s;
}

#projects-img:hover {
  opacity: 1;
}

#contact-img {
  width: 3%;
  opacity: 0.6;
  transition-timing-function: ease-in;
  transition: 1s;
}

#contact-img:hover {
  opacity: 1;
}